.FavoriteBody{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.FavoriteList {
  width: 92%;
  min-height: 110px;
  padding: 4% 4%;
  /* align-items: center; */
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fafafa;
}
.StateColorAndFavorite {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FavoriteInfo_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items:baseline;
}
.FavoriteInfo_1 p,
.FavoriteInfo_2 p{
  cursor: pointer;
}
.FavoriteInfo_1 p:nth-child(1) {
  color: #0c1844;
  font-size: 2rem;
  font-family: "Pretendard-SemiBold";
}
.FavoriteInfo_1 p:nth-child(2) {
  color: #b8b8b8;
  font-size: 1.8rem;
  width: 28%;
  text-align:right;
}
.FavoriteInfo_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.FavoriteInfo_2 p {
  font-size: 1.5rem;
}
.FavoriteInfo_2 p:nth-child(1) {
  color: #5e5e5e;
}
.notFavoriteList{
  margin: 0 auto;
  align-content: center;
  font-family: 'Pretendard-Medium';
  color: #5e5e5e;
}